.footer{
    height: 180vh;
    padding: 55% 0;
    background: hsl(216, 53%, 9%);
    font-family: 'Raleway', sans-serif;
}

.footer img{
    margin: 5% ;
}


.info__container{
    display:flex;
    margin-bottom: 5%;
}
.info__container img{
    width: 70px;
    height: 25px;
    margin:0% 5%;
}

.info__container .info__container--img{
    width:30px;
    height: 25px;
    margin:0% 3%;
}

.info__container p{
    padding: 0 2%;
    font-size: 18px;
}


.footer__list{
    padding: 5% 5% 2% 5%;
    display:block;
}

.footer__list--item{
    margin-bottom: 4%;
    color: gray;
    font-size: 18px;
}


@media screen and (min-width: 600px){
    .footer{
        height: 170vh;
        padding: 40% 0;
    }
    .list__container{
        margin-top: 10%;
        display: flex;
    }
    .footer__list{
        padding: 5% 2%;
    }
    .footer__list--item{
        text-align: center;
    }
    .info__container img{
        width: 60px;
        margin:0% 3.5%;
    }
}

@media screen and (min-width: 800px){
    .footer{
        height: 180vh;
        padding: 40% 0;
    }
    .info__container img{
        width: 40px;
        margin:0% 3.5%;
    }
    .list__container{
        margin-top: 10%;
        display: flex;
    }
}

@media screen and (min-width: 900px){
    .footer{
        height: 200vh;
        padding: 40% 0;
    }
    
    .info__container img{
        width: 40px;
        margin:0% 3%;
    }

    .list__container{
        margin-top: 15%;
        display: flex;
    }
}

@media screen and (min-width: 1200px){
    .footer{
    
        height: 100vh;
        padding: 20% 5%;
    }

    .footer__container{
        display:flex;
    }
    
    .footer__container--text{
       
        width: 60%;
        margin: 0 5%;
        padding-top: 2%;
        display:flex;
    }

    .footer__container--text .info__container{
        width: 60%;
        margin-right: 5%;
    }

    .info__container img{
        width:60px ;
    }

    .footer__container--text :nth-child(2)>.info__container{
        width: 120%;
        display:flex;
    }

    .footer__container--text :nth-child(2) .info__container>.info__container--img{
        margin: 0 5%;
    }
    .list__container{
        margin-top: 2%;
        width: 250%;
    }

    .footer__list--item{
        margin-bottom: 15%;
    }





}