@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.navbar{
    width: 100vw;
    display:flex;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
}

.navbar img{
    width: 20%;
    height: 30px;
    margin: 5% 10%;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 60%;
    
}

li{
    margin-right: 10%;
    font-weight: 400;
    font-size: 14px;
    color: gray;
}

@media screen and (min-width: 600px){
    ul{
        justify-content:center;
    } 
    li{
        margin-left: 8%
    }
}

@media screen and (min-width: 800px){
    .navbar img{
        width: 20%;
        height: 40px;
        margin: 5%;
    }
}

@media screen and (min-width: 1200px){
    .navbar img{
        width: 10%;
        height: 40px;
        margin: 2.5%;

    }
    ul{
        width: 70%;
        height: 40px;
        justify-content:flex-end;
        margin: 2.5% 0% 2.5% 2.5%;
    } 
    li{
        font-size: 18px;
        margin-left: .1%;
    }
}